<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>MPDstats</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	</head>
	<body>
		<h1>MPDstats</h1>
		<h2>Created: {{ date }}</h2>
		<h2>Top Artists ({{ artists|length }} of {{ all_artists }})</h2>
		<ol>
			{% for count, artist in artists %}<li>
				{{ artist }} ({{ count }})
			</li>{% endfor %}
		</ol>
		<h2>Top Songs ({{ songs|length }} of {{ all_songs }})</h2>
		<ol>
			{% for count, artist, title in songs %}<li>
				{{ artist }} - {{ title }} ({{ count }})
			</li>{% endfor %}
		</ol>
		<h2>Top Albums ({{ albums|length }} of {{ all_albums }})</h2>
		<ol>
			{% for count, artist, album in albums %}<li>
				{{ artist }} - {{ album }} ({{ count }})
			</li>{% endfor %}
		</ol>
	</body>
</html>
